#eid-auth-progress {
  display: none;
}

.auth-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 1em;
  box-sizing: border-box;
}

.auth-option-mobile-id {
  flex-direction: column;
  align-items: normal;
}

.auth-option-mobile-id .auth-option-inline-form .form-item-national-identity-number {
  padding-right: 1em;
}

.auth-option-mobile-id .auth-option-inline-form .form-item-phone-number {
  padding-right: 1em;
}


.auth-option-smart-id .auth-option-inline-form .form-item-national-identity-number {
  padding-right: 1em;
}

.auth-option-user-login {
  flex-direction: column;
  align-items: normal;
}

.auth-option-inline-form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.auth-box{
  display: flex;
  border: 2px solid #1d3565;
  border-radius: 5px;
  margin-bottom: 1em;
  box-shadow: 2px 2px 6px #ddd;
}

.auth-box-header {
  width: 62px;
  background: #1d3565;
  padding: 0.75em;
  box-sizing: border-box;
}

.auth-box-content {
  flex-grow: 1;
  padding: 0 1.5em;
}

.auth-box-smart-id {
  border: 2px solid #00b4ab;
  border-radius: 5px;
  margin-bottom: 1em;
  box-shadow: 2px 2px 6px #ddd;
}

.auth-box-smart-id .auth-box-header {
  display: flex;
  background: #00b4ab;
}

.auth-box-user-login {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1em;
  box-shadow: 2px 2px 6px #ddd;
}

.auth-box-user-login .auth-box-header {
  display: none;
}

.eid-auth-progress .status-code {
  font-weight: bold;
  margin: 0.5em 0 2em 0;
}

.eid-auth-cancel {
  display: inline-block;
  margin-top: 2em;
}

.auth-option-inline-form div[data-drupal-messages] {
  width: 100%;
}
