
<div id="eid-auth-options">
  <div class="auth-options">

    {% if enabled_methods.id_card or enabled_methods.mobile_id %}
    <div class="auth-box auth-box-eid">
      <div class="auth-box-header">
        <img src="{{ module_path }}/images/eid_logo_cmyk.png" />
      </div>
      <div class="auth-box-content">
        {% if enabled_methods.id_card %}
          <div class="auth-option auth-option-id-card">
            <div class="auth-option-description">
              <h5>{{ "Log in with ID-Card" }}</h5>
              <p>{{ 'You will need a valid ID-Card and card reader to log in.'|t }}</p>
            </div>
            <div class="auth-option-form">
              <a href="{{ path('eid_auth.id_card', {}, {'query': {'destination': path('<current>')}}) }}" class="button">{{ 'Log in'|t }}</a>
            </div>
          </div>
        {% endif %}

        {% if enabled_methods.id_card and enabled_methods.mobile_id %}
        <hr />
        {% endif %}

        {% if enabled_methods.mobile_id %}
          <div class="auth-option auth-option-mobile-id">
            <div class="auth-option-description">
              <h5>{{ "Log in with Mobile-ID" }}</h5>
              <p>{{ 'You will need a Mobile-ID contract to log in.'|t }}</p>
            </div>
            <div class="auth-option-form">{{ forms.eid_auth_form }}</div>
          </div>
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% if enabled_methods.smart_id %}
    <div class="auth-box auth-box-smart-id">
      <div class="auth-box-header">
        <img src="{{ module_path }}/images/smart-id-logo-white.svg" />
      </div>
      <div class="auth-box-content">
          <div class="auth-option auth-option-smart-id">
            <div class="auth-option-description">
              <h5>{{ "Log in with Smart-ID" }}</h5>
              <p>{{ 'You need to download <a href="@url" target="_blank">Smart-ID app</a> to log in.'|t({ '@url': 'https://www.smart-id.com/et/laadi-alla/' }) }}</p>
            </div>
            <div class="auth-option-form">{{ forms.eid_auth_smart_id_form }}</div>
          </div>
      </div>
    </div>
    {% endif %}

    {% if enabled_methods.login_form %}
    <div class="auth-box auth-box-user-login">
      <div class="auth-box-header"></div>
      <div class="auth-box-content">
        <div class="auth-option auth-option-user-login">
          <h5>{{ "Username and password login" }}</h5>
          {{ forms.login_form }}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>


<div id="eid-auth-progress" class="eid-auth-progress">
  <div class="eid-auth-message">{{ 'Please check that the verification codes are matching:'|t }}</div>
  <div class="status-code"></div>

  <div class="progress__bar" role="progressbar" style="width: 100%"></div>
  <a href="{{ path('user.login') }}" class="eid-auth-cancel">{{ 'Cancel'|t }}</a>
</div>
